<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>578476356676-cnod4u4tdmtbh4i26lv8feao95tu9f2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578476356676-cnod4u4tdmtbh4i26lv8feao95tu9f2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAu_Zde2hJrbhz2BQyvt8ygpGnCe4DLbAU</string>
	<key>GCM_SENDER_ID</key>
	<string>578476356676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.fhict.CityQuestApp</string>
	<key>PROJECT_ID</key>
	<string>fir-database-167d2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-database-167d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578476356676:ios:9d2f1f214d009276</string>
	<key>DATABASE_URL</key>
	<string>https://fir-database-167d2.firebaseio.com</string>
</dict>
</plist>